* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: space-between;
    padding: 30px 10px;
    align-items: center;
}

.header .Menu {
    background-color: lightgrey;
    padding: 15px;

}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header nav a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

header h1 a {
    color: black;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

header h1 a:hover {
    text-decoration: underline;
}

body {
    background-color:beige;
}

h1 {
    padding: 15px;
    background-color: lightgrey;
    text-align: center;
}

.content {
    padding-top: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

p {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.8em;
}

.portfolio > section {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.portfolio > section aside {
    padding-right: 20px;
    box-sizing: border-box;
    width: 20%;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #406781;
    border-right: 4px solid #406781;

}

.portfolio > section .body {
    padding-left: 40px;
    box-sizing: border-box;
    width: 80%;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    width: 100%;
}

.photo-one {
    width: 30rem;
    height: auto;
    margin-bottom: 25px;
}

.gallery > div {
    width: 100%;
    margin: 0 1% 1% 0;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}

.gallery > div img {
    display: block;
}

.gallery > div:not(:first-child) {
    width: 32%;
    margin-right: 1.3%;
}

.gallery > div .opacity {
    background: blue;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
}

.gallery > div:hover .opacity {
    opacity: .5;    
}

.gallery > div .info {
    position: absolute;
    width: 100px;
    padding: 10px;
    left: 0;
    bottom: 50px;
    background-color: aqua;
}

.gallery > div p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: space-between;
    padding: 30px 10px;
    align-items: left;
}

footer h4 {
    padding: 20px 0px 10px;
    font-size: 18px;
}

footer a {
    font-size: 15px;
    line-height: 1.3em;
}